In [2]:
from pyspark.sql import SparkSession 

#Criar uma sessão Spark
spark = SparkSession.builder.appName("Exemplo Spark SQL").getOrCreate()

#Criar um conjunto de dados fictícios sobre estudantes 
data = [
    ("Ana", 20, "Matemática"),
    ("Pedro", 22, "Física"),
    ("Maria", 19, "Química"),
    ("Lucas", 21, "Biologio"),
    ("João", 22, "Matemática")
]

#Definir os nomes das colunas 
columns=["Nome", "Idade", "Curso"]

#Criar um DataFrame
df = spark.createDataFrame(data, columns)

#Registrar o DataFrame como uma tabela temporária 
df.createOrReplaceTempView("Estudantes")

#Executar consultas SQL
print("Estudantes com mais de 20 anos:")
spark.sql("Select * FROM Estudantes WHERE Idade>20").show()

print("Número de estudantes por curso:")
spark.sql("SELECT Curso, COUNT(*) AS Total FROM Estudantes GROUP BY Curso").show()

print("Idade média dos estudantes:")
spark.sql("SELECT AVG(Idade) AS IdadeMedia FROM Estudantes").show()

#Encerrar a sessão Spark
spark.stop()

25/04/02 00:30:52 WARN Utils: Your hostname, codespaces-be4e2e resolves to a loopback address: 127.0.0.1; using 10.0.0.119 instead (on interface eth0)
25/04/02 00:30:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/02 00:30:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Estudantes com mais de 20 anos:

+-----+-----+----------+
| Nome|Idade|     Curso|
+-----+-----+----------+
|Pedro|   22|    Física|
|Lucas|   21|  Biologio|
| João|   22|Matemática|
+-----+-----+----------+

Número de estudantes por curso:
+----------+-----+
|     Curso|Total|
+----------+-----+
|    Física|    1|
|Matemática|    2|
|   Química|    1|
|  Biologio|    1|
+----------+-----+

Idade média dos estudantes:
+----------+
|IdadeMedia|
+----------+
|      20.8|
+----------+